<form class="form-horizontal">
    <legend>Authentication</legend>
    <p>
    Paste your API key from the <a href="https://dashboard.justyo.co">Yo Dashboard</a>. Enter the username where you would like to receive Yos.
    </p>
    <div class="control-group">
        <label class="control-label">{{ _('API Key') }}</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.yonotifier.apiKey">
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Username') }}</label>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.yonotifier.username">
            </div>
        </div>
    </div>

    <legend>Events</legend>
    <p>
    Consult the <a href="https://docs.octoprint.org/en/master/events/index.html">Events</a> reference in the OctoPrint docs. Place payload parameters in braces. Example: <code>{parameter}</code>
    </p>
    {% for event, info in plugin_yonotifier_events.iteritems() %}
    <div class="control-group">
        <label class="control-label">{{ event }}</label>
        <div class="controls">
            <label class="checkbox"><input type="checkbox" data-bind="checked: settings.plugins.yonotifier.events.{{ event }}.enabled"> Enabled</label>
            <input type="text" data-bind="value: settings.plugins.yonotifier.events.{{ event }}.message">
        </div>
    </div>
    {% endfor %}
</form>
